
<div class="grid-container" >
  
   <div class="row" >
       <div class="col">
           <div class="row row-cols-1 row-cols-md-6 g-4"  >
              
               <div class="col"  *ngFor="let comic of comics" >  
                  
                    <div class="card bg-dark"  >
                      <div class="face front"  >
                        <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="">
                        <h3>{{comic.title}}</h3>
                      </div>
                      <div class="face back">    
                        <h3>{{comic.title}}</h3>
                        <p>{{comic.description}}</p>                    
                                         
                        <div  class="link" >
                          <a [routerLink]="['/detail', comic.id]">Read More</a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
               
             
           </div>
   
       </div> 
   </div>
</div>


