
<section class="" *ngFor="let infoUrl of infoUrls ">
    <div class="top-banner__inner site-container">
        <div class="top-banner__image ">
            <img class="card-bg-dark" src="{{infoUrl.thumbnail.path}}.{{infoUrl.thumbnail.extension}}" > 
        </div>
        <div class="top-banner__text">
            <div class="top-banner__text-up">
                
                <h2 class="top-banner__h2">{{infoUrl.title}}</h2>
            </div>
                <ul class="creators">
                    <div class="top-banner__text-down">
                        
                        <span class="brand-span">Writer:  </span>
                        
                        <span class="brand-span">{{infoUrl.creators.items[1].name}}</span>
                        
                    </div>
                    <div class="top-banner__text-down" *ngIf="infoUrl.creators.items[0].name">
                        
                        <span class="brand-span">Penciler:  </span>
                        
                        <span class="brand-span">{{infoUrl.creators.items[5].name}}</span>
                        
                    </div>
                </ul>
            <p class="text-justify inline">{{infoUrl.description}}</p>
                
            
            <div>
                <a class="btn btn-dark bio-button" href="{{infoUrl.urls[0].url}}" target="_blank" >Read bio  </a>
                <a class="btn btn-dark back-button " style="margin-left: 10px" [routerLink]="['/comics']">Back to Comics</a>
            </div>
            
        </div>
    </div>
    
     
</section>





 
